{% extends "base.html" %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'scribblebug/styles.css' %}">
{% endblock %}
{% block content %}
    {% if request.user.is_authenticated %}
        <div>
            <div class="container title-container">
                <div class = "row">
                    <div class="col-12">
                        <div class="welcome-card">
                        Welcome, {{ request.user.username }}!
                        </div>
                        <a class="btn btn-primary" type="button" href="/scribbles/new">
                            Create new Scribble
                        </a>
                    </div>
                </div>

            </div>
        <br>
            <div class="card">
                <div class="card-header">
                    Recently Played
                </div>
                <div class="card-body">
                    <div class="container scribble-carousel">
                        {% for s in recent_scribs %}
                            <div class="card" style="width: 18rem;">
                                <a href="/play?s={{ s.id }}" class="card-text">
                                    <img src="{{ s.image.url }}" class="card-img-top" alt="{{ s.name }}">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ s.name }}</h5>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        <br>
        <br>
        <br>
            <div class="container">
                <h1>Your Scribbles</h1>
                <div class="row justify-content-md-center">
                    {% for s in my_scribbles %}
                        <div class="scribble-card col-md-3 col-sm-12">
                            <div class="card" >
                                <a href="/play?s={{ s.id }}" class="card-text">
                                    <img src="{{ s.image.url }}" class="card-img-top" alt="{{ s.name }}">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ s.name }}</h5>
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

        </div>
        <div class="footer"></div>

    {% else %}
        <div class="welcome-card" style="margin-top:35vh; text-align: center">
            <span class="guest-banner">Log in to create a Scribble!</span>
        </div>
    {% endif %}
{% endblock %}